{if $full_page}
{include file="pageheader.htm"}
{insert_scripts files="../js/utils.js,listtable.js"}
<!-- 订单搜索 -->
<div class="form-div">
  <form action="javascript:searchOrder()" name="searchForm">
    <img src="images/icon_search.gif" width="26" height="22" border="0" alt="SEARCH" />
    {$lang.order_sn}<input name="order_sn" type="text" id="order_sn" size="15">
    {$lang.all_status}
    <select name="status" id="status">
      <option value="-1">{$lang.select_please}</option>
      {html_options options=$status_list}
    </select>
    <input type="submit" value="{$lang.button_search}" class="button" />
  </form>
</div>

<!-- 订单列表 -->
<div class="list-div" id="listDiv">
{/if}

<table cellpadding="3" cellspacing="1">
  <tr>
    <th><a href="javascript:listTable.sort('add_time', 'DESC'); ">{$lang.order_sn}</a></th>
	<th>{$lang.label_user_name}</th>
	<th>{$lang.label_pay_time}</th>
	<th>{$lang.total_fee}</th>
    <th>{$lang.y_pay_bank}</th>
	<th>{$lang.y_pay_account}</th>
    <th>{$lang.y_payee_bank}</th>
    <th>{$lang.all_status}</th>
    <th>{$lang.handler}</th>
  <tr>
  {foreach from=$payinfo_list item=pay key=okey}
  <tr>
    <td valign="top" nowrap="nowrap"><a href="order.php?act=info&order_id={$pay.order_id}" id="order_{$okey}">{$pay.order_sn}</a></td>
	<td>{$pay.user_name}</td>
    <td>{$pay.pay_time}</td>
    <td>{$pay.pay_amount}</td>
    <td align="left" valign="top" nowrap="nowrap">{$pay.pay_bank}</td>
	<td align="left" valign="top" nowrap="nowrap">{$pay.pay_account}</td>
    <td align="left" valign="top" nowrap="nowrap">{$pay.payee_bank}</td>
    <td align="center" valign="top" nowrap="nowrap">{$lang.ycs.$pay.status}</td>
    <td align="center" valign="top"  nowrap="nowrap">
     <a href="payinfo.php?act=info&pay_id={$pay.id}">{$lang.detail}</a>
    </td>
  </tr>
  {/foreach}
</table>

<!-- 分页 -->
<table id="page-table" cellspacing="0">
  <tr>
    <td align="right" nowrap="true">
    {include file="page.htm"}
    </td>
  </tr>
</table>

{if $full_page}
  </div>
  <div>
  </div>
<script language="JavaScript">
listTable.recordCount = {$record_count};
listTable.pageCount = {$page_count};

{foreach from=$filter item=item key=key}
listTable.filter.{$key} = '{$item}';
{/foreach}
{literal}

    /**
     * 搜索订单
     */
    function searchOrder()
    {
        listTable.filter['order_sn'] = Utils.trim(document.forms['searchForm'].elements['order_sn'].value);
        listTable.filter['composite_status'] = document.forms['searchForm'].elements['status'].value;
        listTable.filter['page'] = 1;
        listTable.loadList();
    }

    listTable.listCallback = function(result, txt) 
    {
        if (result.error > 0) 
        {
            alert(result.message);
        }
        else 
        {
            try 
            {
                document.getElementById('listDiv').innerHTML = result.content;
                if (typeof result.filter == "object") 
                {
                    listTable.filter = result.filter;
                }
                listTable.pageCount = result.page_count;
            }
            catch(e)
            {
                alert(e.message);
            }
        }
    }
</script>
{/literal}

{include file="pagefooter.htm"}
{/if}